$desktop-width: 80%;
$half-width: 50%;
$full_width: 100%;
@mixin desktop_width() {
  @media only screen and (min-width: 770px) {
    width: $desktop-width;
  }
  @media only screen and (max-width: 769px) {
    width: $full_width;
  }
}
@mixin half_width() {
  @media only screen and (min-width: 770px) {
    width: $half-width;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  @media only screen and (max-width: 769px) {
    width: $full_width;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@mixin fontStyle {
  font-weight: 600;
  font-size: small;
}
@mixin sectionStyle {
  @include desktop_width();
  margin: auto;
}
@mixin separatorStyle {
  border-bottom: 10px solid transparent;
  -o-border-image: url(/static/images/separator.png) 13;
  border-image: url(/static/images/separator.png) 13;
}
body {
  font-family: "Dosis", "Arial";
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  a {
    text-decoration: none;
    color: black;
  }
}

div,
nav,
.header_container,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_container {
  @include sectionStyle();
  height: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  img {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 96%;
    padding: 2px;
  }
  .wrapper {
    -webkit-box-flex: 9;
    -ms-flex: 9;
    flex: 9;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    nav {
      margin-left: 3%;
      height: 100%;
      a {
        color: #717171;
        padding: 4px;
        margin: 35% 20% 0 20%;
        @include fontStyle();
      }
    }
    .cart {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #eeeeee;
      padding: 8%;
      img {
        width: 15px;
        height: 25px;
      }
    }
    .rightItems {
      width: 100px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      a {
        font-size: 80%;
        font-weight: 600;
        padding: 3px 5px 2px 5px;
      }
      .loginItems {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }
    }
  }
}

hr {
  margin: 0;
  height: 10px;
  border: 0;
  -webkit-box-shadow: 0 10px 10px -10px #eeeeee inset;
  box-shadow: 0 10px 10px -10px #eeeeee inset;
}

.loginContainer {
  margin: auto;
  @include half_width();
  .loginTextContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    span {
      @include fontStyle();
    }
  }
  form {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px 10px 0 40px;
    margin-bottom: 15px;
    .inputContainer {
      margin-bottom: 8px;
      position: relative;
      input {
        border: none;
        border-bottom: solid 1.5px #ccc;
        font-size: 16px;
        outline: 0;
        padding: 20px 0 10px;
        width: 100%;
        &:focus {
          outline: none !important;
          border-bottom: solid 1.5px #50dae3;
        }
      }
      label {
        font-size: 16px;
        color: #ccc;
        position: absolute;
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        transform: translate(0, 16px) scale(1);
        -webkit-transform: translate(0, 16px) scale(1);
        -moz-transform: translate(0, 16px) scale(1);
        -ms-transform: translate(0, 16px) scale(1);
        -o-transform: translate(0, 16px) scale(1);
        transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
      }
      &.active {
        label {
          -webkit-transform: translate(0, 4px) scale(0.95);
          -ms-transform: translate(0, 4px) scale(0.95);
          transform: translate(0, 4px) scale(0.95);
          color: #50dae3;
          margin: -10px 0 0 0;
        }
      }
    }
    button {
      background-color: #d00256;
      color: white;
      padding: 10px;
      margin-top: 25px;
      border: none;
      cursor: pointer;
      width: 100%;
    }
  }
}
section {
  @include sectionStyle();
  #sliderContainer {
    @include separatorStyle();
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .slider {
      width: $full_width;
      img {
        width: $full_width;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    a {
      cursor: pointer;
      position: absolute;
      background: rgba(113, 113, 113, 0.6196078431372549);
      color: white;
      font-size: small;
      padding: 8px;

      &#arrow-left {
        left: 0;
      }
      &#arrow-right {
        right: 0;
      }
    }
    .dots-wrapper {
      position: absolute;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      bottom: 10px;
      width: 100%;
      span {
        cursor: pointer;
        height: 5px;
        width: 5px;
        margin: 0 10px;
        background-color: #989494;
        border-radius: 50%;
        -webkit-transition: background-color 0.6s ease;
        -o-transition: background-color 0.6s ease;
        transition: background-color 0.6s ease;
        &.active,
        &:hover {
          background-color: black;
        }
      }
    }
  }

  .categoryItem {
    @include separatorStyle();
    img {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 100px;
      height: 200px;
      -o-object-fit: contain;
      object-fit: contain;
    }
    div {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
      flex: 2.5;
      margin: auto;
      span {
        text-align: center;
        margin: 0 auto;
        font-size: large;
        font-weight: bold;
        margin-bottom: 15px;
        padding: 0 25px;
        &:nth-child(2) {
          @include fontStyle();
        }
        &:nth-child(3) {
          color: white;
          background: #d00256;
          padding: 10px;
          @include fontStyle();
        }
      }
    }
    &:nth-child(2n) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

#productContainer {
  @include sectionStyle();
  margin-top: -10px;
  aside {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 0 0 10px;
    background: #eee;
    div {
      padding: 10px;
      border-bottom: 1px solid #98949430;
      a {
        color: #989494;
        font-size: medium;
        &.active {
          color: #d00256;
        }
      }
    }
  }
  section {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    select {
      display: none;
    }
    .product {
      padding: 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      div {
        flex-direction: column;
      }
      #priceDesc {
        flex-direction: row;
      }
      img {
        width: 100%;
      }
      p {
        background: #eee;
        padding: 5px;
        @include fontStyle();
      }
      h4 {
        margin-bottom: 0;
        height: 70px;
      }
      div:not(#desc) {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        padding: 5px;
        border-bottom: 1px solid gray;
        border-bottom-style: dashed;
        a {
          background: #d00256;
          padding: 5px 15px;
          color: white;
          border:none;  
          span {
            display: none;
          }
        }
      }
    }
  }
}
footer {
  background: #eee;
  padding: 10px 0;
  p {
    @include sectionStyle();
    @include fontStyle();
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  #arrow-left,
  #arrow-right {
    display: none;
  }
  .dots-wrapper {
    margin: 0 0 -30px 0;
  }
  .header_container {
    height: 50px;
    .wrapper {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    .cart {
      height: 100%;
    }
    nav,
    .loginItems {
      display: none;
    }
  }
  .loginContainer {
    form {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2;
    }
    .loginTextContainer span {
      font-size: x-small;
    }
    h1 {
      font-size: medium;
    }
  }
  #productContainer section select {
    color: white;
    display: flex;
    background: #d00256;
    padding: 10px;
  }
  aside {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 769px) {
  section .categoryItem {
    div {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2;
    }
    img {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  }
  footer p {
    text-align: center;
  }
  #productContainer {
    aside {
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
    }
    section {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      div #desc {
        flex-direction: row;
      }
      .product {
        h4 {
          margin-bottom: 0;
          height: 50px;
        }
        img {
          width: 50%;
        }
        div:not(#desc){
          span {
            display: none;
          }
          a {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 10px;
            span {
              display: flex;
            }
          }
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
