<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Sabka Bazaar is the largest online grocery supermarket in India">
  <meta name="keywords" content="Sabka, Bazaar">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sabka Bazaar</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dosis:400,600,700" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
  <header class="header_container">
    <img src="/static/images/logo.png" alt="Brand logo">
    <div class='wrapper'>
      <nav>
        <a href="/home">Home</a>
        <a href="/products">Products</a>
      </nav>
      <div class='rightItems'>
        <div class='loginItems'>
          <a href="/login">SignIn </a>
          <a href="/register">Register</a>
        </div>
        <div class='cart'>
          <img src="/static/images/cart.svg" alt="Brand logo">
          <a href="/cart">0 items</a>
        </div>
      </div>
    </div>
  </header>
  <hr />
  {{{ body }}}
  <footer>
    <p>Copyright &copy; 2011-2018 Sabka Bazaar Grocery Supplies Pvt Ltd</p>
  </footer>
  <script src='/dist/bundle.js'></script>
</body>

</html>