body {
  font-family: "Dosis", "Arial";
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }
  body a {
    text-decoration: none;
    color: black; }

div,
nav,
.header_container,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header_container {
  margin: auto;
  height: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media only screen and (min-width: 770px) {
    .header_container {
      width: 80%; } }
  @media only screen and (max-width: 769px) {
    .header_container {
      width: 100%; } }
  .header_container img {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 96%;
    padding: 2px; }
  .header_container .wrapper {
    -webkit-box-flex: 9;
    -ms-flex: 9;
    flex: 9;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header_container .wrapper nav {
      margin-left: 3%;
      height: 100%; }
      .header_container .wrapper nav a {
        color: #717171;
        padding: 4px;
        margin: 35% 20% 0 20%;
        font-weight: 600;
        font-size: small; }
    .header_container .wrapper .cart {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #eeeeee;
      padding: 8%; }
      .header_container .wrapper .cart img {
        width: 15px;
        height: 25px; }
    .header_container .wrapper .rightItems {
      width: 100px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .header_container .wrapper .rightItems a {
        font-size: 80%;
        font-weight: 600;
        padding: 3px 5px 2px 5px; }
      .header_container .wrapper .rightItems .loginItems {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }

hr {
  margin: 0;
  height: 10px;
  border: 0;
  -webkit-box-shadow: 0 10px 10px -10px #eeeeee inset;
  box-shadow: 0 10px 10px -10px #eeeeee inset; }

.loginContainer {
  margin: auto; }
  @media only screen and (min-width: 770px) {
    .loginContainer {
      width: 50%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media only screen and (max-width: 769px) {
    .loginContainer {
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .loginContainer .loginTextContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .loginContainer .loginTextContainer span {
      font-weight: 600;
      font-size: small; }
  .loginContainer form {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px 10px 0 40px;
    margin-bottom: 15px; }
    .loginContainer form .inputContainer {
      margin-bottom: 8px;
      position: relative; }
      .loginContainer form .inputContainer input {
        border: none;
        border-bottom: solid 1.5px #ccc;
        font-size: 16px;
        outline: 0;
        padding: 20px 0 10px;
        width: 100%; }
        .loginContainer form .inputContainer input:focus {
          outline: none !important;
          border-bottom: solid 1.5px #50dae3; }
      .loginContainer form .inputContainer label {
        font-size: 16px;
        color: #ccc;
        position: absolute;
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        transform: translate(0, 16px) scale(1);
        -webkit-transform: translate(0, 16px) scale(1);
        -moz-transform: translate(0, 16px) scale(1);
        -ms-transform: translate(0, 16px) scale(1);
        -o-transform: translate(0, 16px) scale(1);
        transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out; }
      .loginContainer form .inputContainer.active label {
        -webkit-transform: translate(0, 4px) scale(0.95);
        -ms-transform: translate(0, 4px) scale(0.95);
        transform: translate(0, 4px) scale(0.95);
        color: #50dae3;
        margin: -10px 0 0 0; }
    .loginContainer form button {
      background-color: #d00256;
      color: white;
      padding: 10px;
      margin-top: 25px;
      border: none;
      cursor: pointer;
      width: 100%; }

section {
  margin: auto; }
  @media only screen and (min-width: 770px) {
    section {
      width: 80%; } }
  @media only screen and (max-width: 769px) {
    section {
      width: 100%; } }
  section #sliderContainer {
    border-bottom: 10px solid transparent;
    -o-border-image: url(/static/images/separator.png) 13;
    border-image: url(/static/images/separator.png) 13;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section #sliderContainer .slider {
      width: 100%; }
      section #sliderContainer .slider img {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    section #sliderContainer a {
      cursor: pointer;
      position: absolute;
      background: rgba(113, 113, 113, 0.619608);
      color: white;
      font-size: small;
      padding: 8px; }
      section #sliderContainer a#arrow-left {
        left: 0; }
      section #sliderContainer a#arrow-right {
        right: 0; }
    section #sliderContainer .dots-wrapper {
      position: absolute;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      bottom: 10px;
      width: 100%; }
      section #sliderContainer .dots-wrapper span {
        cursor: pointer;
        height: 5px;
        width: 5px;
        margin: 0 10px;
        background-color: #989494;
        border-radius: 50%;
        -webkit-transition: background-color 0.6s ease;
        -o-transition: background-color 0.6s ease;
        transition: background-color 0.6s ease; }
        section #sliderContainer .dots-wrapper span.active, section #sliderContainer .dots-wrapper span:hover {
          background-color: black; }
  section .categoryItem {
    border-bottom: 10px solid transparent;
    -o-border-image: url(/static/images/separator.png) 13;
    border-image: url(/static/images/separator.png) 13; }
    section .categoryItem img {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 100px;
      height: 200px;
      -o-object-fit: contain;
      object-fit: contain; }
    section .categoryItem div {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
      flex: 2.5;
      margin: auto; }
      section .categoryItem div span {
        text-align: center;
        margin: 0 auto;
        font-size: large;
        font-weight: bold;
        margin-bottom: 15px;
        padding: 0 25px; }
        section .categoryItem div span:nth-child(2) {
          font-weight: 600;
          font-size: small; }
        section .categoryItem div span:nth-child(3) {
          color: white;
          background: #d00256;
          padding: 10px;
          font-weight: 600;
          font-size: small; }
    section .categoryItem:nth-child(2n) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    section .categoryItem:last-child {
      border-bottom: none; }

#productContainer {
  margin: auto;
  margin-top: -10px; }
  @media only screen and (min-width: 770px) {
    #productContainer {
      width: 80%; } }
  @media only screen and (max-width: 769px) {
    #productContainer {
      width: 100%; } }
  #productContainer aside {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 0 0 10px;
    background: #eee; }
    #productContainer aside div {
      padding: 10px;
      border-bottom: 1px solid #98949430; }
      #productContainer aside div a {
        color: #989494;
        font-size: medium; }
        #productContainer aside div a.active {
          color: #d00256; }
  #productContainer section {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
    #productContainer section select {
      display: none; }
    #productContainer section .product {
      padding: 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      #productContainer section .product div {
        flex-direction: column; }
      #productContainer section .product #priceDesc {
        flex-direction: row; }
      #productContainer section .product img {
        width: 100%; }
      #productContainer section .product p {
        background: #eee;
        padding: 5px;
        font-weight: 600;
        font-size: small; }
      #productContainer section .product h4 {
        margin-bottom: 0;
        height: 70px; }
      #productContainer section .product div:not(#desc) {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        padding: 5px;
        border-bottom: 1px solid gray;
        border-bottom-style: dashed; }
        #productContainer section .product div:not(#desc) a {
          background: #d00256;
          padding: 5px 15px;
          color: white;
          border: none; }
          #productContainer section .product div:not(#desc) a span {
            display: none; }

footer {
  background: #eee;
  padding: 10px 0; }
  footer p {
    margin: auto;
    font-weight: 600;
    font-size: small; }
    @media only screen and (min-width: 770px) {
      footer p {
        width: 80%; } }
    @media only screen and (max-width: 769px) {
      footer p {
        width: 100%; } }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  #arrow-left,
  #arrow-right {
    display: none; }
  .dots-wrapper {
    margin: 0 0 -30px 0; }
  .header_container {
    height: 50px; }
    .header_container .wrapper {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    .header_container .cart {
      height: 100%; }
    .header_container nav,
    .header_container .loginItems {
      display: none; }
  .loginContainer form {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2; }
  .loginContainer .loginTextContainer span {
    font-size: x-small; }
  .loginContainer h1 {
    font-size: medium; }
  #productContainer section select {
    color: white;
    display: flex;
    background: #d00256;
    padding: 10px; }
  aside {
    display: none; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 769px) {
  section .categoryItem div {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2; }
  section .categoryItem img {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  footer p {
    text-align: center; }
  #productContainer aside {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto; }
  #productContainer section {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); }
    #productContainer section div #desc {
      flex-direction: row; }
    #productContainer section .product h4 {
      margin-bottom: 0;
      height: 50px; }
    #productContainer section .product img {
      width: 50%; }
    #productContainer section .product div:not(#desc) span {
      display: none; }
    #productContainer section .product div:not(#desc) a {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px; }
      #productContainer section .product div:not(#desc) a span {
        display: flex; } }

/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
